* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #e7e7e7;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 40px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 40px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 40px -6px rgba(0, 0, 0, 0.75);
}

.container h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: rgb(4, 4, 92);
}

.container input {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    outline-color: rgb(4, 4, 92);
}

.container button {
    background-color: rgb(4, 4, 92);
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
    margin-bottom: 20px;
}

.container button:hover {
    background-color: rgb(15, 15, 167);
}

.container input,
.container button {
    padding: 8px;
}

.check {
    text-decoration: line-through;
}

.container ul li {
    margin-left: 2em;
    font-size: 20px;
    color: rgb(4, 4, 92);
}